<link rel="stylesheet" href="css/stylesheet_compras.css">

<main id="main-vitrine">
    <div id="produtos">
    </div>
    <h2>Carrinho</h2>
    <div id="carrinho">
    </div>
</main>
<script src="../scripts/vitrine.js"></script>