@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: rgba(29, 26, 26, 0.7);
    border-top: 0.4px solid #976e72;
    font-size: 100%;
    background: linear-gradient(89.95deg, #ada99e 30%, #d6d0c2 70%);
    ;
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 17px;
}

/* HEADER */
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-menu {
    border-top: 0.4px solid #976e72;
    display: flex;
    gap: 70px;
}

.cabecalho-menu-item {
    color: #1d1a1a;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Updock', cursive;
}

.cabecalho-menu-item:hover {
    font-weight: bold;
}

.cabecalho-imagem {
    display: flex;
    align-items: center;
    gap: 7%;
}

/* MAIN */
.conteudo {
    padding-left: 3%;
    padding-right: 3%;
    border-top: 0.4px solid #976e72;
    margin-bottom: 3%;
}

.conteudo-historia-titulo {
    text-align: center;
    margin-bottom: 24px;
}

.conteudo-historia-confeitaria {
    display: flex;
    padding-top: 4%;
    margin-bottom: 5%;
    align-items: center;
}

.conteudo-historia-romeujulieta {
    display: flex;
    padding-top: 4%;
    margin-bottom: 5%;
    border-top: 0.4px solid #976e72;
    align-items: center;
}

.conteudo-historia-especiaria {
    display: flex;
    padding-top: 4%;
    margin-bottom: 5%;
    border-top: 0.4px solid #976e72;
    align-items: center;
}

.cabecalho-imagem {
    display: flex;
    align-items: center;
    gap: 7%;
}

.input-campo {
    background-color: #c5bba3;
    color: red;
}