<!--CONTEUDO-->
<main class="conteudo">
    <div class="p-2" id="conteudo-infos-servicos">
        <section class="row">
            <div class="col-xs-12 col-md-4 p-4">
                <h2 class="text-center">Cafeteria</h2>
                <img class="img-fluid  p-4" src="images/servicos/cafeteria.jpg" alt="">
            </div>
            <div class="col-xs-12 col-md-4 p-4">
                <h2 class="text-center">Confeitaria</h2>
                <img class="img-fluid  p-4" src="images/servicos/confeitaria.jpg" alt="">
            </div>
            <div class="col-xs-12 col-md-4 p-4">
                <h2 class="text-center">Padaria</h2>
                <img class="img-fluid p-4" src="images/servicos/padaria.jpg" alt="">
            </div>
        </section>
    </div>
    <div id="conteudo-infos-confeitaria">
        <section class="row mt-4 p-3">
            <div class="col-8">
                <h2 class="text-center mb-4">História Confeitaria</h2>
                <p>Os primeiros registros quanto aos doces datam o século I a.C: o grande filósofo romano Cícero cita
                    ter
                    comido na Sicília um, ou seja,
                    deliciosos
                    tubinhos de massa de farinha, muito doces, recheados com leite, descrição que imediatamente faz
                    pensar a
                    um dos doces mais famosos do mundo, o cannolo siciliano. Era comum receitas de cremes e pudins,
                    feitos
                    através da mistura de ovos, leite, mel e pimenta do reino, que eram assados ou cozidos até ficarem
                    densos. Existia o hábito tradicional de caramelizar amêndoas e avelãs com mel, obtendo algo
                    semelhante
                    ao nosso pé-de-moleque, além de rechear frutas secas com nozes para festividades.</p>
            </div>
            <div class="col-4">
                <img class="img-fluid" src="../images/auxiliares/historia-confeitaria.png" alt="">
            </div>
        </section>
        <section class="row mt-4 p-3">
            <div class="col-4">
                <img class="img-fluid" src="images/auxiliares/historia-romeujulieta.png" alt="">
            </div>
            <div class="col-8">
                <h2 class="text-center mb-4">Romeu Julieta</h2>
                <p>A confeitaria Romeu E Julieta Surgiu em 23 de abril 1970 após um conjunto de estudantes em
                    gastronomia apostarem em viajar
                    para diversos lugares do mundo, como Austrália, Itália, Japão e China, para desfrutar das mais
                    variadas especiarias e cultura gastronomica de cada um desses lugares.
                    Após um encontro entre esses estudantes, que ocorreu 5 anos após as viagens, foi aberto a primeira
                    confeitaria na cidade de São Paulo (São Paulo) no qual, com o grande sucesso, em menos de 1 ano
                    estavam com mais de 5 filias em todo o Brasil.
                </p>
            </div>
        </section>
        <section class="row mt-4 p-3">
            <div class="col-8">
                <h2 class="text-center mb-4">Especiarias e Especialidades</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam expedita praesentium nostrum nemo
                    laboriosam animi quidem dolore, earum dolorum labore similique voluptatum corporis, impedit nihil
                    minima? Minima esse debitis aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
                    exercitationem nemo harum labore. Repudiandae nobis illo nostrum modi possimus dicta corrupti neque!
                    Unde id cum deserunt ipsum ut nesciunt ea? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
            <div class="col-4">
                <img class="img-fluid" src="images/auxiliares/historia-especiaria.png" alt="">
            </div>
        </section>
    </div>
    <div id="conteudo-infos-produtos" class="align-items-center">
        <h2 class="text-center mt-5">Conheça os mais vendidos</h2>
        <section class="row mt-4">
            <div class="col-xs-12 col-md-4 p-4">
                <img class="img-fluid p-1 border border-secondary" src="images/produtos_vitrine/1.webp" alt="">
                <h2>Carolinas</h2>
            </div>
            <div class="col-xs-12 col-md-4 p-4">
                <img class="img-fluid p-1 border border-secondary" src="images/produtos_vitrine/2.webp" alt="">
                <h2>Doce de Belém</h2>
            </div>
            <div class="col-xs-12 col-md-4 p-4">
                <img class="img-fluid p-1 border border-secondary" src="images/produtos_vitrine/3.webp" alt="">
                <h2>Café Expresso</h2>
            </div>
        </section>
        <section class="row mt-4">
            <div class="col-xs-12 col-md-4 p-4">
                <img class="img-fluid p-1 border border-secondary" src="images/produtos_vitrine/4.webp" alt="">
                <h2>Bolo Tradicional</h2>
            </div>
            <div class="col-xs-12 col-md-4 p-4">
                <img class="img-fluid p-1 border border-secondary" src="images/produtos_vitrine/5.webp" alt="">
                <h2>Pão Integral</h2>
            </div>
            <div class="col-xs-12 col-md-4 p-4">
                <img class="img-fluid p-1 border border-secondary" src="images/produtos_vitrine/6.webp" alt="">
                <h2>Cupcake</h2>
            </div>
        </section>
    </div>
</main>