* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: rgba(29, 26, 26, 0.7);
    border-top: 0.4px solid #976e72;
    font-size: 100%;
    background: linear-gradient(89.95deg, #ada99e 30%, #d6d0c2 70%);
    ;
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 17px;
}

.input-campo {
    background-color: #c5bba3;
}

#main {
    display: flex;
    justify-content: center;
}

#main-form {
    display: flex;
    flex-direction: row;
};